@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Nunito', sans-serif;
}

/* ************** MAIN *************** */
#container {
    display: flex;
    justify-content: center;
    background-color: cornsilk;
}

main {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 70vw;
    height: 100vh;
    margin-top: 170px;
}

main div {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    flex-direction: column;
    border-radius: 20px;
    width: 40vw;
    margin-bottom: 50px;
}

main div p {
    margin: 40px 30px 10px 30px;
    height: 40px;
    font-size: 1.2em;
}

main div form {
    margin-left: 40px;
}

main div.page-1  {
    background-color: grey;
    z-index:4;
}

main div.page-2  {
    background-color: rgb(112, 112, 112);
    margin: 50px 0 0 50px;
    z-index:3;
}

main div.page-3  {
    background-color:rgb(105, 105, 105);
    margin: 100px 0 0 100px;
    z-index:2;

}

main div.page-4 {
    background-color: rgb(98, 98, 98);
    margin: 150px 0 0 150px;
    z-index:1;

}

main div button {
    display: inline-block;
    margin: 25px;
    padding: 15px 35px;
    font-size: 15px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: black;
    border: none;
    border-radius: 15px;
  }
  
main div button:hover {
    background-color: darkgray;
}

main div button:active {
    background-color: darkgray;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }

main > .container-pages{
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: brown;
}
.container-pages{
    position:relative;
}

.container-pages > .page:not(.active){
    position:absolute;
} 


/* ***************** RESPONSIVE ************** */

@media screen and (max-width: 800px) {
    main div {
        width: 350px;
    }
    main div.page-2{
        margin: 25px 0 0 25px;
    }
    main div.page-3{
        margin: 50px 0 0 50px;
    }
    main div.page-4{
        margin: 75px 0 0 75px;
    }
    #container{
        width: 80vw;
    }
}