@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Nunito', sans-serif;
}

body {
    background-color: salmon;
}
#Container {
    display: flex;
    justify-content: center;
}

main {
    display: grid;
    grid-template-columns: 1fr 1fr; 
    grid-template-rows: 1fr 1fr 1fr 1fr 0.5fr; 
    gap: 10% 2em; 
    grid-template-areas: 
      "Rest-Crous Texte-Rest-Crous"
      "Texte-Idee-metier Idee-metier"
      "Pours-Etude Texte-Pours-Etude"
      "Texte-BUT-int BUT-int"
      "Texte-final Texte-final";
    width: 70vw;
    margin-top: 130px;
}
#Rest-Crous {
    grid-area: Rest-Crous;
    height: 350px; 
    width: 640px;
}
#Texte-Rest-Crous {
    grid-area: Texte-Rest-Crous;
}
#Idee-metier {
    grid-area: Idee-metier;
    height: 400px;
    width: 600px;
}
#Texte-Idee-metier {
    grid-area: Texte-Idee-metier;
}
#Pours-Etude {
    grid-area: Pours-Etude;
    height: 400px;
    width: 600px;
}
#Texte-Pours-Etude {
    grid-area: Texte-Pours-Etude;
}

#BUT-int {
    grid-area: BUT-int;
    height: 400px;
    width: 600px;
}
#Texte-BUT-int {
    grid-area: Texte-BUT-int;
}

#Texte-final {
    grid-area: Texte-final;
    display: flex;
    justify-content: center;
    padding-bottom: 10vh;
}

#Texte-final p {
    font-size: 15px;
    width: 700px;
}


#Texte-Rest-Crous, #Texte-Idee-metier, #Texte-Pours-Etude, #Texte-BUT-int {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#Texte-Rest-Crous > span, #Texte-Idee-metier > span, #Texte-Pours-Etude > span, #Texte-BUT-int > span {
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 30px;
}

#Texte-Rest-Crous form label span, #Texte-Pours-Etude div.formulaire label span,#Texte-BUT-int div.formulaire label span {
    font-size: 20px;
}

#Texte-Rest-Crous form, #Texte-BUT-int div.formulaire {
    display: grid; 
    grid-template-columns: 50px 450px; 
    grid-template-rows: 1fr 1fr 1fr; 
    gap: 20px 0em; 
    grid-template-areas: 
      ". ."
      ". ."
      "Valider Valider"; 
}
.Valider { grid-area: Valider; }
#Texte-Pours-Etude div.formulaire {
    display: grid; 
    grid-template-columns: 50px 450px; 
    grid-template-rows: 1fr 1fr 1fr 1fr; 
    gap: 20px 0em; 
    grid-template-areas: 
      ". ."
      ". ."
      ". ."
      "Valider Valider"; 
}
label {
    padding-bottom: 10px;
}
input.check, input.checkbox {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    border: 2px solid black;
}

input.check {
    border-radius: 50%;
}

input.check:checked, input.checkbox:checked {
    background-color: aliceblue;
    transition: 0.3s;
}

textarea {
    resize: none;
    width: 500px;
    height: 150px;
}

textarea::-webkit-scrollbar {
    width: 1em;
}

main div .Valider {
    display: inline-block;
    width: 300px;
    padding: 15px 35px;
    font-size: 15px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: black;
    border: none;
    border-radius: 15px;
}
  
main div .Valider:hover {
    color: black;
    background-color: aliceblue;
    transition: 0.4s;
}

main div .Valider:active {
    background-color: darkgray;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

img {
    border-radius: 10%;
}

@media (max-width: 1300px) {
    main {
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 30px;
    }
}